.primary {
  border: none;
  background-color: var(--primary);
  color: white;
  padding: 0.7rem;
  border-radius: 0.4rem;

  font-size: 1rem;
  font-family: 'Inter';

  cursor: pointer;
}

.primary:hover {
  background-color: var(--primary-hover);
}
