.popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(14, 169, 14);
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  z-index: 1000;

  animation-name: fade;
  animation-duration: 2.3s;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
